<hlm-dialog>
  <hlm-dialog-header>
    <h3 hlmDialogTitle>Similar job offer already exists</h3>
  </hlm-dialog-header>

  <div class="flex flex-col my-6 space-y-4">
    <p>Hey! We've just noticed that you already have offer with the same summary, and it's already published.</p>

    <p>Do you want to replace it with current job offer or do you want to change the summary?</p>
  </div>

  <hlm-dialog-footer>
    <button hlmBtn type="button" (click)="changeSummary()">
      <ng-icon name="lucideFilePenLine" class="mr-2" />
      Change summary
    </button>
    <button hlmBtn variant="secondary" type="button" (click)="replace()">
      <ng-icon name="lucideReplace" class="mr-2" />
      Replace
    </button>
  </hlm-dialog-footer>
</hlm-dialog>
