<brn-table hlm class="w-full" [dataSource]="items()" [displayedColumns]="dataTableColumns()" [trackBy]="trackBy">
  <brn-column-def name="id" class="w-12">
    <hlm-th *brnHeaderDef />
    <hlm-td *brnCellDef="let element" [class]="getRowClass(element)" />
  </brn-column-def>

  <brn-column-def name="actions" class="w-60">
    <hlm-th *brnHeaderDef />
    <hlm-td *brnCellDef="let element" [class]="getRowClass(element)">
      <h-joboffer-list-item-actions [item]="element" (reloadRequested)="reload()" />
    </hlm-td>
  </brn-column-def>

  <brn-column-def name="offerSummary" class="flex-1">
    <hlm-th *brnHeaderDef>Summary</hlm-th>
    <hlm-td *brnCellDef="let element" truncate [class]="getRowClass(element)">{{ element.OfferSummary }}</hlm-td>
  </brn-column-def>

  <brn-column-def name="publishedAt" class="w-40">
    <hlm-th *brnHeaderDef>Published At</hlm-th>
    <hlm-td *brnCellDef="let element" [class]="getRowClass(element)">
      @if (element.PublishedAt === null) {
        &mdash;
      } @else {
        {{ element.PublishedAt | hDate }}
      }
    </hlm-td>
  </brn-column-def>

  <brn-column-def name="publishedUntil" class="w-40">
    <hlm-th *brnHeaderDef>Published Until</hlm-th>
    <hlm-td *brnCellDef="let element" [class]="getRowClass(element)">
      @if (element.PublishedUntil === null) {
        &mdash;
      } @else {
        {{ element.PublishedUntil | hDate }}
      }
    </hlm-td>
  </brn-column-def>

  <div class="flex items-center justify-center p-20 text-muted-foreground" brnNoDataRow>No data</div>
</brn-table>

<h-pagination [totalCount]="totalCount()" [(currentPage)]="currentPage" [(pageSize)]="pageSize" />
