<ng-container *ngIf="user$ | async as user">
  <div class="flex flex-row justify-end h-full">
    <button [brnMenuTriggerFor]="menu">
      <img
        class="w-6 mx-2 rounded-full"
        [src]="user.picture"
        [alt]="user.name"
      />
    </button>
  </div>

  <ng-template #menu>
    <hlm-menu class="w-56">
      <hlm-menu-label>{{ user.name }}</hlm-menu-label>
      <hlm-menu-separator />
      <hlm-menu-group>
        <button hlmMenuItem>
          <ng-icon name="lucideLifeBuoy" hlmMenuIcon />
          <span>Help</span>
        </button>

        <button hlmMenuItem (click)="logout()">
          <ng-icon name="lucidePower" hlmMenuIcon />
          <span>Sign Out</span>
        </button>
      </hlm-menu-group>
    </hlm-menu>
  </ng-template>
</ng-container>
