<div class="flex justify-end space-x-5">
  <!-- <button type="button" hlmBtn variant="ghost" [hlmTooltipTrigger]="'Publish'">
    <ng-icon hlmIcon name="lucideSend" />
  </button> -->
  @if (canTakeDown()) {
    <button type="button" hlmBtn variant="ghost" [hlmTooltipTrigger]="'Take down'" (click)="takeDown()">
      <ng-icon hlmIcon name="lucideUndo" />
    </button>
  }

  @if (canEdit()) {
    <a hlmBtn variant="ghost" [hlmTooltipTrigger]="'Edit'" [routerLink]="['/job-offers', 'edit', item().Id]">
      <ng-icon hlmIcon name="lucideFilePenLine" />
    </a>
  }

  @if (!canEdit()) {
    <a hlmBtn variant="ghost" [hlmTooltipTrigger]="'Copy'">
      <ng-icon hlmIcon name="lucideCopy" />
    </a>
  }
</div>
