# Ignore node_modules to avoid copying them (they are installed during the build stage)
node_modules

# Ignore temporary build files and logs
dist
tmp
out-tsc
*.log

# Ignore environment-specific files
*.env
*.local

# Ignore IDE/editor configuration files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Git-related files
.git
.gitignore

# Ignore Docker-related files (if not required in the build context)
Dockerfile
.dockerignore
