<ng-container [formGroup]="form()">
  <ng-container formGroupName="requirements">
    <fieldset>
      <label hlmLabel class="mb-2">Experience</label>

      <div class="mt-4 mb-4">
        <h-experience-level-control formControlName="experienceLevel" class="w-full" />
      </div>

      <div hlmLabel formGroupName="skills">
        @for (skillFormGroup of skills.controls; let i = $index; track skillFormGroup) {
          <div class="px-4 pt-4 pb-4 mb-4 rounded-md bg-secondary" [formGroupName]="i">
            <div class="flex flex-row">
              <input type="text" class="w-full mb-4" hlmInput formControlName="label" />
              <button
                hlmBtn
                type="button"
                variant="secondary"
                class="ml-2"
                [disabled]="requirements.disabled"
                (click)="removeSkill(i)"
              >
                <ng-icon name="lucideX" class="text-secondary-foreground" />
              </button>
            </div>
            <h-skill-level-control formControlName="level" />
          </div>
        }
      </div>

      <button
        type="button"
        hlmBtn
        variant="secondary"
        class="w-full"
        [disabled]="requirements.disabled"
        (click)="addSkill()"
      >
        <ng-icon name="lucidePlus" class="mr-2" /> Add requirement
      </button>
    </fieldset>
  </ng-container>
</ng-container>
