<ng-container [formGroup]="form">
  <ng-container formGroupName="requirements">
    <fieldset>
      <legend class="mb-2 font-semibold">Experience</legend>

      <div class="flex flex-row mb-4">
        <h-experience-level-control formControlName="experienceLevel" />
      </div>

      <div hlmLabel formGroupName="skills">
        <div
          class="px-4 pt-4 pb-2 mb-4 rounded-md bg-secondary"
          *ngFor="let skillFormGroup of skills.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="flex flex-row">
            <input
              type="text"
              class="w-full mb-4"
              hlmInput
              formControlName="label"
            />
            <button
              hlmBtn
              variant="secondary"
              (click)="removeSkill(i)"
              class="ml-2"
            >
              <ng-icon
                name="lucideX"
                class="text-secondary-foreground"
              ></ng-icon>
            </button>
          </div>
          <h-skill-level-control formControlName="level" />
        </div>
      </div>

      <button
        type="button"
        hlmBtn
        variant="secondary"
        class="w-full"
        (click)="addSkill()"
      >
        <ng-icon name="lucidePlus" class="mr-2" /> Add requirement
      </button>
    </fieldset>
  </ng-container>
</ng-container>
