<div class="container px-32 mx-auto">

  <hr class="h-px my-10 border-0 bg-stone-200"/>

  <div class="flex">
    <div class="flex-1">
      <h1 class="mt-5 mb-2 text-2xl font-bold text-stone-700">Heyer</h1>
    </div>
    <div class="flex-1">
      <h1 class="mt-5 mb-2 text-2xl font-bold text-stone-700">Lorem</h1>
    </div>
    <div class="flex-1">
      <h1 class="mt-5 mb-2 text-2xl font-bold text-stone-700">Ipsum</h1>
    </div>
    <div class="flex-1">
      <h1 class="mt-5 mb-2 text-2xl font-bold text-stone-700">Social</h1>
    </div>
  </div>
</div>
